<html>
    
    <head>
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/bootstrap.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/jumbotron-narrow.css') }}"/>
        
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        
        <title>Hackathon!</title>
    </head>
    
    <body>
        
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="https://cstuy.org/"><img src="https://cstuy.org/static/img/cstuylogo.png" height="40"/></a>
                </div> <!-- /havbar-header -->
                
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    
                    <!-- standard navbar links, aligned left -->
                    <ul class="nav navbar-nav">
                        
                        <li class="dropdown">
                            <a href="https://cstuy.org/about" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">About<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <a href="https://cstuy.org/about#bodytop"><li>Our Story</li></a>
                                <a href="https://cstuy.org/about#diff"><li>How We're Different</li></a>
                                <a href="https://cstuy.org/about#supp"><li>Supporters</li></a>
                                <a href="https://cstuy.org/about#team"><li>Our Team</li></a>
                            </ul>
                        </li>
                        
                        <li><a href="https://cstuy.org/programs">Programs</a></li>
                        
                        
                        <li><a href="https://cstuy.org/blog/">Blog</a></li>
                        
                        
                        <li><a href="https://cstuy.org/contact">Contact</a></li>
                        
                        
                        <li><a href="https://cstuy.org/donate">Donate</a></li>
                        
                    </ul>
                    
                </div><!-- /.navbar-collapse -->
                
            </div><!-- /.container-fluid -->
        </nav>
        
        <div class="container">
            
            <center>
                <h1>
                    Hackathon <!-- will be a logo, hopefully? -->
                </h1>
            </center>
            
            <div class="row">
                
                <div class="col-md-12">
                    
                    <div class="panel panel-info">
                        
                        <div class="panel-heading">
                            <center>
                                <h2 class="h2-title">
                                    Information
                                </h2>
                            </center>
                        </div> <!-- /panel-heading -->
                        
                        <div class="panel-body">
                            
                                    <h4 class="h4-title">Who</h4>
                                    <div class="well">
                                        High School students with some programming experience as well as those who have never programmed.
                                    </div> <!-- /well -->

                                    <h4 class="h4-title">What</h4>
                                    <div class="well">
                                        Hackathon!
                                    </div> <!-- /well -->

                                    <h4 class="h4-title">When</h4>
                                    <div class="well">
                                        Saturday, March 28th, 8am-8pm.
                                    </div> <!-- /well -->

                                    <h4 class="h4-title">Where</h4>
                                    <div class="well">
                                        TBD.
                                    </div> <!-- /well -->

                        </div> <!-- /panel-body -->
                        
                    </div> <!-- /panel -->
                    
                </div> <!-- /col -->
                
            </div> <!-- /row -->
            
            <div class="row">
                
                <div class="col-md-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <center>
                                <h2 class="h2-title">
                                    Apply Now
                                </h2>
                            </center>
                        </div> <!-- /panel-heading -->
                        
                        <div class="panel-body">
                            <h4 class="h4-title">
                                <img class="icon" src="https://cstuy.org/static/programs/ship/assets/blue_bookmark.png" height="20"/>
                                Engage in an active CS community.
                            </h4>
                            <p>
                            Meet people like yourself from around the
                            city. Connect with coders of all experience levels. Our graduates permeate the tech world.
                            </p>
                            
                            <h4 class="h4-title">
                                <img class="icon" src="https://cstuy.org/static/programs/ship/assets/green_bookmark.png" height="20"/>
                                Expand your CS skillset.
                            </h4>
                            <p>
                            Use prevailing industry tools to tackle real-world
                            problems and deepen your understanding of
                            computing fundamentals.
                            </p>
                            
                            <h4 class="h4-title">
                                <img class="icon" src="https://cstuy.org/static/programs/ship/assets/yellow_bookmark.png" height="20"/>
                                Learn from experienced CS teachers.
                            </h4>
                            <p>
                            Our elite team has over 40 years of combined
                            experience in CS education.
                            </p>
                            
                            <h4 class="h4-title">
                                <img class="icon" src="https://cstuy.org/static/programs/ship/assets/pink_bookmark.png" height="20"/>
                                Work with industry professionals.
                            </h4>
                            <p>
                            Interact with and learn from coders currently working
                            in the field, build lasting contacts.
                            </p>
                        </div> <!-- /panel-body -->
                        
                    </div> <!-- /panel -->
                    
                </div> <!-- /col -->
                
                <div class="col-md-6 col-md-6-offset-6">
                    
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <center>
                                <h2 class="h2-title">
                                    To Apply
                                </h2>
                            </center>
                        </div> <!-- /panel-heading -->
                        <div class="panel-body">
                            
                            <p>
                            Send an email to <a href="mailto:hackersessions@cstuy.org">hackersessions@cstuy.org</a> with the subject "application." Include the following information in the email:
                            </p>
                            
                            <ul>
                                <li>Your name.</li>
                                <li>Your email address.</li>
                                <li>Your parent's name and email address.</li>
                                <li>A contact phone number.</li>
                                <li>The grade in school you are in.</li>
                                <li>The name and email address of a teacher willing to write a brief recommendation for you.</li>
                                <li>A statement as to why you want to attend Hacking Sessions</li>
                                <li>Attach a scan or photo of your transcript or latest report card.</li>
                                <li>Attach a code sample (if you're applying as someone with experience, otherwise disregard this).</li>
                                <li>If you are applying for financial assistance, please indicate so.</li>
                            </ul>
                            
                            <h4 class="h4-title">Program Cost</h4>
                            
                            <p>
                            Free!
                            </p>
                            
                            <h4 class="h4-title">Cancellation Policy</h4>
                            <p>
                            ???
                            </p>
                            
                            <h4 class="h4-title">
                                Have Questions?
                            </h4>
                            <p>
                            Email us at: <a href="mailto:hackersessions-info@cstuy.org">hackersessions-info@cstuy.org</a>
                            </p>
                            
                        </div> <!-- /panel-body -->
                        
                    </div> <!-- /panel -->
                    
                </div> <!-- /col -->
                
            </div> <!-- /row -->
            
        </div> <!-- /container -->
        
    </body>
    
</html>